<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h4 class="title">Create Tour</h4>
      </div>
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" id="title" [(ngModel)]="tour.title" name="title">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Categories</label>
              <input type="text" class="form-control" placeholder="Phone" id="phone" [(ngModel)]="tour.categories" name="categories">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" placeholder="Phone" id="phone" [(ngModel)]="tour.phone" name="phone">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Cities</label>
              <input type="text" class="form-control" placeholder="City" id="city" [(ngModel)]="tour.cities" name="cities">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea rows="5" class="form-control" id="description" [(ngModel)]="tour.description" name="description"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Expect</label>
              <textarea rows="5" class="form-control" id="expect" [(ngModel)]="tour.expect" name="expect"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Image</label>
              <input rows="5" class="form-control" id="image" [(ngModel)]="tour.image" name="image">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Price</label>
              <input rows="5" class="form-control" id="price" type="number" [(ngModel)]="tour.price" name="price">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Start time</label>
              <input rows="5" class="form-control" id="startTime" type="datetime-local" [(ngModel)]="tour.startTime" name="startTime">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>End time</label>
              <input rows="5" class="form-control" id="endTime" type="datetime-local" [(ngModel)]="tour.endTime" name="endTime">
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
      </form>
    </div>
    <button class="btn btn-info btn-fill" (click)="createTour()">Submit</button>
  </div>
</div>
