<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.tripppic.com" class="simple-text">
      Tripppic
    </a>
  </div>

  <ul class="nav">
    <li>
      <a [routerLink]="['/']">
        <i class="pe-7s-graph"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a [routerLink]="['/auth/login']">
        <i class="pe-7s-user"></i>
        <p>Profile</p>
      </a>
    </li>
    <li class="active">
      <a [routerLink]="['/tours']">
        <i class="pe-7s-note2"></i>
        <p>TOUR</p>
      </a>
    </li>
    <li>
      <a [routerLink]="['/booking']">
        <i class="pe-7s-note2"></i>
        <p>Booking</p>
      </a>
    </li>
  </ul>
</div>