<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Booking list</h4>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>ID</th>
            <th>Status</th>
            <th>Tour title</th>
            <th>Price</th>
            <th>Date</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let booking of bookings">
              <td>{{booking._id}}</td>
              <td>{{booking.status}}</td>
              <td>{{booking.tour.title}}</td>
              <td>{{booking.price}}</td>
              <td>{{booking.bookDate}}</td>
              <td>
                <button [hidden]="booking.status==='accepted'" (click)="acceptBooking(booking._id)">Accept</button>
                <button [hidden]="booking.status!=='accepted'" (click)="declineBooking(booking._id)">Decline</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>